@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

@layer base {
  * {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-eatlee-cream text-eatlee-green font-sans;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}
