@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

@layer base {
  * {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-eatlee-cream text-eatlee-green font-sans;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}


/* Scale down the layout for 125% OS scaling to match the 100% scaling view */
@media (max-width: 1550px) and (min-width: 1200px) {
    body {
        zoom: 0.8;
    }
}
